/* Overlay Navbar */
.navbar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0); /* Fully transparent by default */
    padding: 1rem;
    transition: background-color 0.6s ease; /* Smooth transition for background color */
    opacity: 0; /* Initially hidden */
}

.navbar-overlay:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black when hovered */
    opacity: 1; /* Fully visible on hover */
}

.navbar-overlay .navbar-brand img {
    height: 3rem;
    width: 6rem;
    mix-blend-mode: difference;
    
}

.navbar-overlay .nav-link {
    color: rgb(242, 242, 242) !important; /* Links are black by default */
    transition: color 1s;
}

.navbar-overlay .nav-link:hover {
    color: yellow; /* Change color on hover */
}

.navbar-overlay .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 20;
    color: rgb(255, 255, 255); /* Icon color is also black by default */
}

.navbar-overlay:hover .nav-link, 
.navbar-overlay:hover .material-symbols-outlined {
    color: white !important; /* Change link and icon colors to white when navbar is hovered */
}
