.register-container {
    padding: 6rem 10rem 1rem 10rem;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.register-form {
    background: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    flex: 1;
}

/* Additional styling for form fields */
.form-field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.form-control {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
}

/* Colorful buttons for different actions */
.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.login-route {
    margin-top: 15px;
    text-align: center;
}

.login-route span {
    margin-right: 5px;
}

.otp-options {
    margin-top: 15px;
    text-align: center;
}

/* Media queries for responsive design */
@media (max-width: 700px) {
    .register-container {
        padding: 6rem 1rem 1rem 1rem;
    }
}

@media (max-width: 480px) {
    .btn {
        padding: 8px 12px;
    }
}
