.register-container {
    padding: 1rem;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    min-height: 100vh;
    background-color: #f5f5f5; /* Light background */
}

.register-form {
    background: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    flex: 1; /* Allow the form to grow and take available space */
}

/* Additional styling for form fields */
.form-field-container {
    display: flex; /* Flex layout for fields */
    flex-direction: column; /* Display fields in column */
    margin-bottom: 1.5rem; /* Spacing between field sets */
}

.form-control {
    width: 100%; /* Full width for form fields */
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem; /* Add spacing between input fields */
}

.btn {
    background-color: #007bff; /* Primary button color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Added transform for hover effect */
    width: 100%; /* Full width for buttons */
}

/* Colorful buttons for different actions */
.btn-primary {
    background-color: #007bff; /* Primary button color */
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker shade on hover */
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.login-route {
    margin-top: 15px;
    text-align: center;
}

.login-route span {
    margin-right: 5px;
}

.otp-options {
    margin-top: 15px;
    text-align: center;
}

/* Media queries for responsive design */
@media (min-width: 768px) {
    /* On larger screens, keep fields in a column layout */
    .form-field-container {
        flex-direction: column;
    }
}

@media (max-width: 768px) {

    .form-field-container {
        flex-direction: column; /* Stack fields vertically */
        align-items: stretch; /* Stretch fields to full width */
    }
}

@media (max-width: 480px) {
    .btn {
        padding: 8px 12px; /* Smaller button padding */
    }
}
