@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
}

.two {
  height: 100vh;
}

.one {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* navbar */
.nav-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
  display: flex;
  background-color: rgba(0, 73, 144);
  width: 100vw;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    rgba(0, 73, 144, 0.5) 5px 10px 15px;
  transition: all 0.5s;
}
.button-container:hover {
  width: 300px;
  transition: all 0.5s;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}

/* Custom styles */
.car-img {
  margin-left: -1px;
  height: 100vh;
  width: 99vw;
  filter: brightness(50%);
}

.img-overlay {
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  text-align: center;
}

.grey-qo-regular {
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
}

.card {
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

.fade-in-text {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
