@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
}

.two {
  height: 100vh;
}

.one {
  margin-top: -1px;
  margin-left: -1px;
  height: 100vh;
  filter: brightness(50%);
  background-image: url(../../public/assets/Designer.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.image {
  visibility: visible;
}

/* navbar */
.nav-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
  display: flex;
  background-color: rgba(0, 73, 144);
  width: 100vw;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    rgba(0, 73, 144, 0.5) 5px 10px 15px;
  transition: all 0.5s;
}
.button-container:hover {
  width: 300px;
  transition: all 0.5s;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}
