nav {
  background-color: transparent;
}
  
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0) !important;
  padding: 1rem;
  margin-bottom: 0;
  transition: background-color 1s !important;
}

.navbar-nav {
  gap: 1rem;
}

.navbar:hover {
  background-color: rgb(36, 32, 28) !important;
}

.navbar.scrolled {
  background-color: black !important;
}

/* Navbar link styles */
.navbar a, .navbar a:visited {
  text-decoration: none;
  color: white !important;
  transition: color 1s;
}

.navbar a:hover {
  color: yellow;
}

/* Google account icon styles */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 20;
}

/* Logo styles */
.logo {
  height: 3rem;
  width: 6rem;
  mix-blend-mode: difference;
}

/* Button styles */
.btn-secondary {
  background-color: #00D1B2;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.reg-bound {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.reg {
  background-color: #0d6dfc;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  border: none;
}

/* Custom link styles */
.nav-link {
  color: #000;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  padding: 1rem;
}

/* Style for the account icon */
a.account-icon {
  cursor: pointer;
  transition: color 0.3s ease;
}

a.account-icon:hover {
  color: yellow;
  transform: scale(1.1);
  transition: color 0.3s ease, transform 0.3s ease;
}
