nav {
    background-color: transparent;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0) !important;
    padding: 1rem;
    margin-bottom: 0;
    transition: background-color 1s !important;
}

.navbar:hover {
    background-color: rgb(36, 32, 28) !important;
}

.navbar.scrolled {
    background-color: black !important;
}

.navtag {
    margin-top: 0;
}

.navbar a, .navbar a:visited {
    text-decoration: none;
    color: white !important;
    transition: color 1s;
}

.navbar a:hover {
    color: yellow;
}

/* Account Google Icon */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 20;
}

/* Custom styles */
.logo {
    height: 3rem;
    width: 6rem;
    mix-blend-mode: difference;
}
.modal-dialog {
    max-width: 500px;
    margin: 100px auto;
}

.modal-content {
    padding: 20px;
}
.modal-dialog {
    max-width: 500px;
    margin: 100px auto;
}

.modal-content {
    padding: 20px;
}

.modal-header .btn-close {
    background: transparent;
    border: none;
    cursor: pointer;
}
.navbar {
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: #333; /* Dark background when scrolled */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
    background-color: #00D1B2;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
