.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
    max-width: 100dvw;
    align-items: center;
    padding: 3rem;
    padding-top: 6rem;
    background-repeat: no-repeat;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: auto;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
