.one {
  height: 100vh;
  margin-top: -1px;
  background-image: url('/Designer.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.two {
  height: 100dvh;
  padding: 1rem;
}

/* navbar */
.nav-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  background-color: rgba(0, 73, 144);
  width: 100vw;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 73, 144, 0.5) 5px 10px 15px;
  transition: all 0.5s;
}

.button-container:hover {
  width: 300px;
  transition: all 0.5s;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}

/* Custom styles */
.img-overlay {
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.grey-qo-regular {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card {
  display: flex;
  width: 15vw;
  height: 40vh;
  align-items: center;
  padding: 1rem;
  border-radius: 30px;
  background: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

.provides-icon {
  height: 8rem;
  width: 8rem;
}

.fade-in-text {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.cards-container {
  display: flex;
  padding: 2rem;
  width: 70vw;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

@media (max-width: 800px) {
  .card {
    width: 100%;
    height: 25vh;

  }
  .cards-container {
    gap: 2rem;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
