.toll-details {
  padding: 1rem;
  padding-top: 6rem;
  min-height: 95dvh;
  background-color: #1a1a1a; /* Dark theme */
  color: #fff;
  text-align: center;
  flex-grow: 1;
}

.toll-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.glass {
  position: relative;
  padding: 1rem;
  /* width: 180px;
  height: 200px; */
  background: linear-gradient(#fff2, transparent);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  margin: 10px;
}

.glass img {
  width: 50px;
  height: auto;
}

.glass:hover {
  transform: scale(1.05);
}

.glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.toll-info h2 {
  margin: 10px 0;
  color: #fff; /* Ensures text is white */
}

.toll-info p {
  margin: 5px 0;
  color: #fff; /* Ensures text is white */
}

.toll-item {
  animation: fadeIn 0.5s ease forwards;
  opacity: 0;
}
.toll-item:nth-child(1) { animation-delay: 0.1s; }
.toll-item:nth-child(2) { animation-delay: 0.2s; }
.toll-item:nth-child(3) { animation-delay: 0.3s; }
.toll-item:nth-child(4) { animation-delay: 0.4s; }
.toll-item:nth-child(5) { animation-delay: 0.5s; }
.toll-item:nth-child(6) { animation-delay: 0.6s; }
.toll-item:nth-child(7) { animation-delay: 0.7s; }